@model CosumeApi.Models.AccountDisplayBindingModel

@{
    ViewBag.Title = "GetUsersAsync";
}

<h2>GetUsersAsync</h2>

<div>
    <h4>AccountDisplayBindingModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NameOfUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameOfUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateofBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateofBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "UpdateUser", new {  id = Model.Id }) |
    @Html.ActionLink("Back to List", "Users")
</p>
